page-home {
  ion-header {
    min-height: 25%;
  }

  ion-header ion-icon {
    font-size: 3rem;
  }

  ion-content {
      //background: url("/assets/imgs/BANNER.jpg");
      //background-size: cover;
      //background-position: bottom center;
  }

  ion-content ion-icon {
    font-size: 5rem;
    //color: white;
  }

  ion-content ion-row {
    background: rgba(255,255,255,0.8);
  }

  p {
    padding: 0;
    margin: 0;
  }
}


