page-home {
  ion-header {
    height: 30%;
    background: url("/assets/imgs/BANNER.jpg");
    background-size: cover;
    background-position: bottom center;
  }
  ion-header ion-icon {
    font-size: 3rem;
  }

  ion-content ion-icon {
    font-size: 5rem;
    color: white;
  }

  p {
    color: white;
    padding: 0;
    margin: 0;
  }
}


