<ion-header>
  <ion-list>
    <ion-item id="origem" *ngIf="showOrigem">
      <ion-label floating>Origem</ion-label>
      <ion-input [(ngModel)]="origin" type="text" value="{{ originVal }}" (ionBlur)="searchAddress($event)" (ionFocus)="clearVal()"></ion-input>
    </ion-item>
    <ion-item *ngIf="showEntrega">
      <ion-label floating>Local de Entrega</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-header>
<agm-map
  [latitude]="location.lat"
  [longitude]="location.lng"
  [zoom]="19"
  [minZoom]="16"
  (mapClick)="onSetMarker($event)"
  [styles]= "styles"
  (mapReady)="mapReadyDo()"
>
  <agm-marker
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    *ngIf="marker"
    iconUrl="assets/imgs/marker.png"
  ></agm-marker>
</agm-map>
<ion-footer padding="">
  <ion-row>
    <ion-col text-center col text-left>
      <button ion-button clear icon-only color="light" navPop>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col text-center col text-end>
      <button ion-button clear icon-only color="light">
        <ion-icon name="md-stopwatch"></ion-icon>
      </button>
    </ion-col>
    <ion-col text-center col text-end>
      <button ion-button clear icon-only color="light" (click)="myLocation()">
        <ion-icon name="md-locate"></ion-icon>
      </button>
    </ion-col>
    <ion-col text-center col *ngIf="origemSet" text-end>
      <button ion-button color="secondary" (click)="confirma($event)">
        Confirmar
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
